---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Solstices">
  <main>
    <div id="btn-reservation" class="btn-reservation">
      <p style="transform: translateY(-63%); font-size: 26px;">Réserver mon week-end</p>
    </div>
    <div style="display: flex; justify-content: center;">
      <img id="logo" src="/solstices.svg" alt="logo_solstices" width="800px" height="250" />
    </div>
    <div class="container" style="margin-bottom: 100px; height: 70vh;">
      <div style="display: flex; justify-content: center;">
        <p style="font-style: italic; font-size: 1.2vw">
          Bien vivre ses propres révolutions est une oeuvre de l'esprit et du corps
        </p>
      </div>
      <div style="text-align: center; margin-top: 100px; margin-bottom: 30px;">
        <h1>“Les 1001 PREMIERS JOURS”</h1>
        <h2>Voyage éclairé dans la parentalité: le post-partum</h2>
        <p style="font-weight: 600">Un week-end de retraite - atelier du 21 au 23 Juin 2024</p>
        <p style="font-weight: 600">À moins de 2h de Marseille</p>
      </div>
    </div>
    <div style="height: 100vh;">
      <img src="/EBNN1849.jpg" alt="introspection_groupe" width="100%" height="auto" class="img-style" />
    </div>
    <div class="container" style="position: relative;">
      <div style="display: flex; justify-content: center; height: 80vh; align-items: center;">
        <p class="container-text">
          Que votre maternité soit plus ou moins éloignée, elle a profondément modifié l’être que vous êtes et mérite un
          moment d’attention tout particulier.
        </p>
      </div>
      <div style="height: 100vh">
        <div style="display: flex; gap: 30px;">
          <div style="flex: 1">
            <img src="/EMMB1472.jpg" alt="introspection_en_groupe" width="100%" height="auto" />
          </div>
          <div style="flex: 1">
            <img src="/EBNN1945.jpg" alt="balcon_avec_belle_vue" width="100%" height="auto" />
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
          <p class="container-text">
            Entre reconquête de soi, bien-être et réancrage, nous vous proposons de laisser libre cours à votre coeur,
            puis à votre imagination et votre esprit créatif, et de vous extraire du quotidien pour vivre une expérience
            unique mariant techniques de coaching et développement personnel et workshops de production d’objets.
          </p>
        </div>
      </div>
      <div style="display: flex; width: auto; height: 100vh; gap: 100px">
        <div style="display: flex; flex-direction: column; flex: 1; gap: 100px">
          <div>
            <h1>Pour vous guider</h1>
            <p>
              Pendant 2 jours, des ateliers animés par Charline, coach professionnelle certifiée et spécialiste en
              transition de vie et Mathilde, artisane ébéniste
            </p>
          </div>
          <div>
            <h1>Au programme</h1>
            <p>Méditation & éveil du corps Ateliers d’introspection & Développement personnel</p>
            <p>Cercles de partages</p>
            <p>Coaching</p>
            <p>Ateliers matière</p>
            <p>Création d’objet</p>
            <p>Soirées détente en musique</p>
          </div>
        </div>
        <div style="flex: 1">
          <img src="/EBNN1954.jpg" alt="les_animatrices" width="100%" height="auto" />
        </div>
      </div>
    </div>
    <div class="container scroll-container">
      <div class="sticky-wrap">
        <div class="horizontal_scroll">
          <div class="scroll-contents">
            <img src="/EBNN1940.jpg" alt="les_animatrices" class="img-scroll" />
          </div>
          <div class="scroll-contents">
            <img src="/EBNN2128.jpg" alt="les_animatrices" class="img-scroll" />
          </div>
          <div class="scroll-contents">
            <img src="/EBNN1780.jpg" alt="les_animatrices" class="img-scroll" />
          </div>
          <div class="scroll-contents">
            <img src="/EBNN2316.jpg" alt="les_animatrices" class="img-scroll" />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div style="height: 80vh">
        <h1>Témoignages</h1>
        <div style="display: flex; gap: 100px">
          <div style="flex: 1">
            <p style="font-style: italic;">
              “J’ai aimé la totalité de l’expérience. Ce mix entre introspection et confection fait de l’expérience un
              tout riche et complémentaire. Ces deux facettes permettent de vraiment déconnecter et prendre un moment
              rien qu’à soi. Je pense de plus que c’est assez original que cela soit porté par un duo avec des
              compétences si diverses et à la fois très complémentaires” - Anne Claire
            </p>
          </div>
          <div style="flex: 1">
            <p style="font-style: italic;">
              "Je me sens plus alignée, libérée d’avoir pu partager mon expérience du post-partum et heureuse d’avoir
              écouté le récit d’autres femmes. Ce qui m’a plu, c’est l’espace de parole libre créé, d’avoir le temps
              d’échanger tranquillement, sans jugement, de se sentir en confiance et écoutée. J’ai aussi adoré l’atelier
              bois qui nous a permis de fabriquer un objet en étant guidée sans être assistée en permanence. Chacune
              allait à son rythme, c’était détendu, sans pression. L’atelier a été très bien pensé. On a fabriqué
              quelque chose de beau en quelques heures :).“ - Ophélie
            </p>
          </div>
        </div>
      </div>
      <div class="container scroll-container">
        <div class="sticky-wrap">
          <div class="horizontal_scroll">
            <div class="scroll-contents">
              <img src="/EMMB1652.jpg" alt="les_animatrices" class="img-scroll" />
            </div>
            <div class="scroll-contents">
              <img src="/EBNN1769.jpg" alt="les_animatrices" class="img-scroll" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div id="card-tarifs" class="card-tarifs">
        <h1>Tarifs et réservation</h1>
        <p style="font-size: 2.5vw; margin-bottom: 1.5vw">€ 310,00</p>
        <p>01 . Hébergement 2 nuits</p>
        <p>02 . Repas (bio & local)</p>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="btn-reservation-fixed">
        <p style="font-size: 24px">Réserver mon week-end</p>
      </div>
    </div>
  </main>
  <div style="border-top: 2px solid black; width: 70%; margin: auto"></div>
  <div class="container">
    <div style="display: flex;">
      <h3>Instagram</h3>
      <h3>solstices-ateliers@gmail.com</h3>
    </div>
    <div>
      <p>©2024 Solstices ateliers singuliers.</p>
      <p>Conditions Générales de Vente — Politique de Confidentialité</p>
    </div>
  </div>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const stickyButton = document.getElementById('btn-reservation') as HTMLElement
    const tarifCard = document.getElementById('card-tarifs') as HTMLElement
    const logo = document.getElementById('logo') as HTMLElement

    const observerForLogo = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            stickyButton?.classList.add('visible')
          } else {
            stickyButton?.classList.remove('visible')
          }
        })
      },
      { root: null, threshold: 0 }
    )

    const observerForTarifCard = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            if (stickyButton && tarifCard) {
              stickyButton.classList.add('visible')
            }
          } else {
            if (stickyButton) {
              stickyButton.classList.remove('visible')
            }
          }
        })
      },
      { root: null, threshold: 0, rootMargin: '0px 0px -350px 0px' }
    )

    observerForTarifCard.observe(tarifCard)
    observerForLogo.observe(logo)

    stickyButton.addEventListener('click', () => {
      tarifCard.scrollIntoView({ behavior: 'smooth' })
    })
  })

  const stickySections = [...document.querySelectorAll('.sticky-wrap')]

  window.addEventListener('scroll', (e) => {
    for (let i = 0; i < stickySections.length; i++) {
      transform(stickySections[i] as HTMLElement)
    }
  })

  function transform(section: HTMLElement) {
    const offsetTop = section?.parentElement?.offsetTop

    const scrollSection = section.querySelector('.horizontal_scroll') as HTMLElement

    if (offsetTop && scrollSection) {
      let percentage = ((window.scrollY - offsetTop) / window.innerHeight) * 100
      percentage = percentage < 0 ? 0 : percentage > 300 ? 300 : percentage
      scrollSection.style.transform = `translate3d(${-percentage}vw, 0, 0)`
    }
  }
</script>

<style>
  main {
    /* width: 100%; */
    /* padding: 20px */
    /* overflow: hidden; */
  }

  .container {
    padding: 30px 30px 0px 30px;
  }

  .container-text {
    width: 50vw;
    padding-top: 9vw;
    padding-bottom: 9vw;
  }

  .scroll-container {
    height: 200vh;
  }

  .horizontal_scroll {
    position: absolute;
    top: 0;
    height: 100%;
    width: 200vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
  }

  .scroll-contents {
    height: 100%;
    width: 100vw;
  }

  .sticky-wrap {
    overflow: hidden;
    position: sticky;
    top: 100px;
    height: 100vh;
  }

  .img-scroll {
    object-fit: cover;
    height: 80%;
    width: auto;
    object-position: center;
  }

  .img-style {
    object-fit: cover;
    height: 100%;
  }

  .card-tarifs {
    border: 2px solid black;
    border-radius: 8px;
    padding: 70px;
  }

  .btn-reservation {
    align-items: center;
    background: #fdd081;
    bottom: -100%;
    bottom: -200px;
    -webkit-clip-path: ellipse(50% 40% at 50% 50%);
    clip-path: ellipse(50% 40% at 50% 50%);
    display: flex;
    height: 200px;
    justify-content: center;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 50%);
    transform: scaleY(0.5) translate(-50%, 50%);
    transform-origin: 50% 50%;
    transition:
      bottom 0.5s ease-in 0.15s,
      transform 0.5s ease-in 0.15s,
      background 0.5s ease;
    width: min(95vw, 420px);
    will-change: transform;
    z-index: 1000;
    cursor: pointer;
  }

  .btn-reservation.visible {
    bottom: 0;
    transform: scaleY(1) translate(-50%, 50%);
    transition:
      bottom 0.5s ease-out,
      transform 0.5s ease-out,
      background 0.5s ease;
  }

  .btn-reservation.visible:hover {
    background: #e27a63;
  }

  .btn-reservation > * {
    opacity: 0;
    transition: opacity 0.25s ease-in 0s;
  }
  .btn-reservation.visible > * {
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
  }

  .btn-reservation-fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
    margin-top: 50px;
    border: 1px solid black;
    width: 350px;
    height: 100px;
    background: #fdd081;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.5s ease;
  }

  .btn-reservation-fixed:hover {
    background: #e27a63;
  }
</style>
